

<br>
<ul class="nav nav-pills nav-stacked">
<li>
    <%= form_tag '/', method: :get do %>
    <%= text_field_tag :search_term1, nil, placeholder: 'Search', class: 'btn-block' %>
    <% end %>
</li>
<li>
  <%= submit_tag 'Twitter', class: 'btn-sm btn-primary btn-block' %>
</li>

<li>
  <%= submit_tag 'StackOverflow', class: 'btn-sm btn-primary btn-block' %>
</li>
</ul>
