<% if @keyword %>
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Text</th>
        <th>Intensity (score)</th>
        <th>Sentiment</th>
      </tr>
    </thead>

    <tbody>
      <% @keyword.each do |keyword| %>
      <tr>
        <td><%= keyword["text"] %></td>
        <td><%= keyword["sentiment"]["score"] %></td>
        <td><%= keyword["sentiment"]["type"] %></td>
      </tr>
    </tbody><% end %>
  </table>
<% end %>
