<div class="col-md-2 left">
  <%= render "search" %>
</div>

<div class="col-md-10 right">
  <div class="first">
    <%= render "first" %>
  </div>
  <div class="twitter">
    <%= render "twitter" %>
  </div>
  <div class="stackoverflow">
    <%= render "stackoverflow" %>
  </div>
</div>
